@import url(https://fonts.googleapis.com/css?family=Marvel:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

.wrapper {
    background: linear-gradient(rgba(245, 222, 179, 1) 1%, rgba(251, 174, 29, 1) 100%);

    font-family: 'Inter';
    min-height: 100%;
    width: 100%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: black;
    padding: 0px 15px;

    &__logo {
        display: flex;
        align-items: center;

    }

    &__title {
        color: white;
        margin-left: 15px;
        max-width: 300px;
        font-size: 16px;
        font-weight: 500;
    }

    &__languages {
        display: flex;

    }

    &__russian,
    &__english {
        transition: 0.3s;
        width: 45px;
        height: 40px;
        position: relative;
        margin: 0px 5px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__russian:hover,&__english:hover{
        box-shadow: 4px 4px 30px 9px rgba(229, 235, 240, 0.24);
    }

}
.start {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    min-height: 690px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__top,
    &__center,
    &__bottom {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

    }

    &__top {
        flex-direction: column;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 54px;
        text-align: center;
    }

    &__center {
        width: 100%;
        text-align: center;
        margin-top: 80px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        text-align: center;
    }

    &__image {
        margin: 15px;
        min-width: 150px;
        min-height: 150px;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__bottom {
        margin-top: 15px;
    }
   

    &__list {
        padding: 15px 15px;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        border-radius: 50px;
    }

    &__link {
        transition: 0.3s;

        text-align: center;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 14px;
        margin: 10px 10px 0px;
    }
    &__link:hover{
        letter-spacing: 1px;
        font-weight: 600;
    }
    &__link:active{
        color: #222;
    }
    &__button {
        transition: 0.3s;
        margin: 0 auto;
        margin-top: 50px;
        width: 55px;
        height: 55px;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;


        }
    }
   
    
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.content-block {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    &__left,&__right {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__image,&__youtube,&__text {
        width: 100%;
        height: 100%;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        border-radius: 15px;
    }
    &__image {
        box-shadow:none;
        border: none;
        width: 80%;
        height: 60%;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__text {
        text-align: justify;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: calc(10px + 12 * (100vw / 1280));
        line-height: 150%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
        background-color: white;

    }
    &__youtube {
        width: 100%;
        height: 80%;
        overflow: hidden;
        border-radius: 15px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}
.block-line-left-right {
    width: 70%;
    position: relative;
    margin-top: 50px;
    h2{
        display: none;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.block-x {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    min-height: 800px;
    box-shadow: 0px 14px 8px 2px rgba(0, 0, 0, 0.28);
    border-radius: 15px;
    h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;
    }
    p {
        margin: 20px 0px;
        max-width: 70%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 143.02%;
        text-align: center;
    }
    &__image {
        width: 100%;
        height: 450px;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.left {
    align-items: flex-start;
}
.right {
    align-items: flex-end;
}
.footer {
    flex-wrap: wrap;
    width: 100%;
    min-height: 150px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__list-left {
        width: 200px;
        margin: 25px;
        text-align: center;
        line-height: 150%;
    }

    &__list-left:nth-child(2) {
        margin: 25px;
    }
}
.button-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    transition: 0.3s;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.button-top:hover{
    border-radius: 50%;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.28);
    width: 36px;
    height: 36px;
}
@media (min-width: 1440px){
    .content-block{
        &__text {
            font-size: 24px;
    }
}
}
@media (max-width: 950px) {
    .start {
        &__center {
            flex-direction: column;
        }

        &__list {
            padding: 10px;
        }
    }
    .content-block {
  
        &__youtube {
            height: 400px;
        }
    }
    .button-top{
        bottom: 5px;
        right: 5px;
        
    }
    
}
@media (max-width: 650px) {
    .header {
        &__title {
            font-size: 10px;
        }
    }

    .content-block {
        height: 300px;

        &__text{
            font-size: calc(7px + 7 * (100vw / 1200));

        }
        &__youtube {
            height: 250px;
        }
    }

    .block-x {
        h2{
            font-size: 32px;
        }
        p {

            font-size: 16px;
            
        }
        &__image{
            height: 250px;
        }
    }
}
@media (max-width: 450px) {
    .header {
        &__title {
            font-size: 10px;
        }
    }

    .block-line-left-right {
        margin-top: 20px;
    }

    .content-block {
        height: 240px;
        &__text{
            font-size: calc(5px + 4 * (100vw / 1200));

        }
        &__youtube {
            height: 200px;
        }
    }
}
@media (max-width: 768px) {
    .block-line-left-right{
        width: 100%;
        height: 100px;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        h2{
            display: inline;
            position: relative;
        }
        h2::after{
            position: absolute;
            content: '';
            top: 20px;
            left: 0;
            width: 100%;
            height: 25px;
            background: url("../images/stairs.png") no-repeat ;
            background-position: bottom;
            background-size: contain;
        }
        img{
            display: none;
        }
    }
}
